<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="" width="80" height="70">
    <h1 class="d-inline-block align-top" style="color: #A9110D; -webkit-text-stroke: 0.6px white">Workshop Angular</h1>
  </a>
</nav>

<div class="text-center">
  <button type="button" class="btn btn-dark" style="margin-bottom: 430px; margin-top: 300px;" (click)="sendData()" [routerLink]="['/result']">Click on to get data</button>
</div>
<app-footer></app-footer>